div {
border: 5px black;
margin: 10px;
padding: 5px;
}


/*This is the CSS style for the parent combinator, which will*/
.parent {
background-color: green;
}

/*This the css for the child combinator, which also uses the "div" css styles */
.child {
background-color: yellow;
}

/*This is the CSS style for the sibling combinator*/
.sibling {
background-color: red;
}

